  {% load static %}

  <div class="row">
    <div class="col text-center fw-bold mb-2">        
        Consumer Sales Prices (¢)
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
        <table class="table table-condensed d-flex justify-content-center align-items-center table-bordered m-0 p-0"> 

            <tbody id="consumer_price_list">
                <tr class = "">
                    <td scope="col" class = "m-0 p-0">
                    
                    </td> 
                    <td v-for="(p, index) in session.parameter_set.apple_tray_capacity" class="m-0 p-0 pe-1 ps-1 bg-secondary text-nowrap fw-bold">
                    [[ p ]] <img src="{% static 'apple.png' %}" alt="Apple" width="15" height="15">
                    </td>                                         
                </tr>
                <tr v-for="(o, index) in session.parameter_set.orange_tray_capacity" class = "">
                    <td class="m-0 p-0 ps-1 pe-1 bg-secondary text-nowrap fw-bold text-center">
                        [[ o ]] <img src="{% static 'orange.png' %}" alt="Orange" width="15" height="15">
                    </td>
                    <td v-for="(a, index2) in session.parameter_set.apple_tray_capacity" 
                        class="text-center m-0 p-0 text-nowrap"
                        v-bind:style="get_consumer_price_style(o, a)">                
                        [[get_consumer_price(o, a)]]
                    </td>
                </tr>
            </tbody>
            
        </table>
        
    </div>
  </div>

  